.card{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding:70px;
	align-items: center;
	justify-content:space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	flex-basis: 250px;
	margin-top: 40px;

}


.card img{
	border-radius: 9px;
	width: 150px;
}
